*{
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
    background-color: rgb(144, 144, 144);
}

.text{
    color: blue;
    text-align: center;
    text-shadow: 0 0 10px rgb(171, 171, 171);
}
hr{
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    color: white;
    height: 3px;
    outline: 3px white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 600px;
    width: 600px;
    margin: auto auto;
    /* box-shadow: 0 0 30px white; */
    padding: 20px;
    background-color: rgba(0, 8, 123, 0.609);
    border-radius: 20px;
    
}
.box{
    background-color: rgb(251, 251, 251);
    border: 1px solid black;
    transition:0.2s ease-in;
    border-radius: 10px;
    color: red;
    font-size: 30px;
}
.box:hover{
    transform: scale(1.05);
    background-color: rgb(255, 247, 0);
}

#winner{
    text-align: center;
    font-size: 80px;
    color: rgb(0, 70, 0);
    opacity: 0;
}

#reset-btn{
    font-size: 20px;
    display: block;
    margin: 0 auto 20px;
    padding: 5px;
    border: 1px solid black;
    background-color: brown;
    color: white;           
    
}