
*{
    padding: 0;
    margin: 0;
}
/* Apply basic styling to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;

}

/* Style the table */
table {
    width: 60%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    font-size: 35px;
}

/* Style table headers */
th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    border: 2px solid black;
}

/* Style table cells */
td {
    padding: 10px;
    border: 1px solid black;
}

/* Add hover effect for rows */
tr:hover {
    background-color: #f1f1f1;
}

h1{
    margin: 50px 0 20px 0;
    background-color: #4CAF50;
    text-align: center;
}

input{
    margin: 20px auto 0;
    display: block;
    font-size: 1.5rem;
    padding: 5px;
}

button{
    padding: 10px;
    font-size: 1.5rem;
    display: block;
    margin: 10px auto 0;
}