* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(1, 53, 104);
    color: white;
    overflow-x: hidden;
}

.edit {
    color: white;
    text-decoration: none;
    font-size: 3vw;
    transition: 0.5s ease;
}

.edit:hover {
    color: orange;
}   

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 34, 69);
    margin-top: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.img{
    width: 100%;
    margin: 10px;
    border: 2px solid white;
}
#myPhoto{
    margin: 10px auto 0;
    display: block;
}