*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to bottom, rgba(255, 149, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0,0,0,1)), url(../0.\ Images/tIger.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    background-color: black;
}

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#add-students, #search-students{
    background-color: rgb(3, 137, 255);
    font-size: 3rem;
    margin: 20px;
    border: 1px solid white;
    color: white;
    padding: 20px;
    font-weight: 900;
}

#add-students:hover,#search-students:hover{
    background-color: orange;
}